body {
    background-image: url('cafe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; /* 讓背景圖片固定，不隨滾動條滾動 */
    background-size: cover; /* 讓背景圖片覆蓋整個頁面 */
    background-color: rgb(153, 102, 153);
}


  .container {
    background-color: #BB5E00; /* 设置白色背景 */
    padding: 20px; /* 添加一些内边距 */
    border: 2px solid #ddd; /* 边框样式 */
    width: 80%; /* 容器宽度 */
    margin: auto; /* 居中显示 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 添加一些阴影效果 */
  }

.text-center{
    text-align: center;
}
.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* 或根据需要调整 */
    margin-bottom: 10px; /* 或根据需要调整 */
}


  table {
    width: 100%; /* 表格宽度为容器的 100% */
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }